.header {
  padding: 50px;
}

.header h1 {
  text-align: center;
}

.section {
  margin: 20px
}

/* .players {
  display: flex;
} */

.player {
  position: relative;
  display: flex;
  margin: 10px 0;
  padding: 20px 20px 50px 50px;
  background-color: aliceblue;
}

.player h2 {
  position: absolute;
  top: 0;
  left: 35px;
  transform-origin: 0 0;
  transform: rotate(90deg);
}

.player h3 {
  font-size: 150%;
  margin-top: 0;
}

.bp3-html-select {
  width: 220px;
}

.bp3-slider {
  margin: 0 20px;
}

.bp3-tag {
  margin: 10px;
}